<div class="panel">
  <div class="panel-heading"><strong>Instructions</strong></div>

  <div class="panel-body">
    <p>Transcribe each of 10 short sentences. They won&#39;t always make sense, so write down each word as you hear it (or a ? if you cannot understand the word). You can listen to each sentence twice.<br />
      NB: If you cannot play the audio on your browser, don&#39;t do the HIT - please return it! Note that IE browsers may not work - try using Chrome or Firefox instead.</p>

    <ul>
      <li><strong>Do not </strong>include any punctuation.</li>
      <li>Please type&nbsp;<strong>አማርኛ ፊደል</strong> to transcribe, do not transliterate using English letters.</li>
      <li>Again, you can listen to each clip <strong>only two times</strong>.</li>
      <li>Recommended: Use earphones.</li>
    </ul>
  </div>
</div>
<div class="reload">
  <p>Evaluation tasks not showing yet? Please press this button to reload them!</p>
<button (click)="refresh()">Reload Evals</button>
</div>
<div class="eval" *ngIf ="stranscriptions">
  <app-tester [transcriptions]="stranscriptions" [model]="model"></app-tester>
</div>

